text {
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    font-size: 14px;
  }
  
  .node rect {
    stroke: #7D7E7C;
    fill: #fff;
  }
  
  .node ellipse {
    stroke: #7D7E7C;
    fill: #fff;
  }

  .edgePath path {
    /* stroke: #333; */
    fill: none;
    stroke-width: 1.5px;
  }
  
  .node text {
    pointer-events: none;
  }
  
  /* This styles the title of the tooltip */
  .tipsy .name {
    font-size: 1.5em;
    font-weight: bold;
    color: #60b1fc;
    margin: 0;
  }
  
  /* This styles the body of the tooltip */
  .tipsy .description {
    font-size: 1.2em;
  }
/* 
  .brush .selection {
    stroke: #000;
    fill: red;
  } */

  /* .brush .selection {
    stroke: #000;
    fill: red;
  } */